body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

#fireworksCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
}

#gift {
  width: 200px;
  cursor: pointer;
}

#card {
  width: 300px;
  display: none;
}